body {
  margin: 0;
  background-color: #141414;
}

.account {
  padding-top: 40px;
  width: 50%;
  margin: 0 auto;
}

.title {
  border-bottom: 1px solid rgb(120, 120, 120);
  margin: 10px;
}

.title h1 {
  margin-bottom: 20px;
  font-weight: 300;
}

.custom-button {
  font-size: smaller;
  width: 90%;
  background-color: #cdd0d2;
  border: none;
  border-bottom: 1px solid #495057;
  color: black;
  border-radius: 0;
}

.line-bottom {
  margin: 10px 0px;
  border-bottom: 1px solid rgb(82, 82, 82);
}

a {
  text-decoration: none;
}

footer {
  margin-top: 60px;
}

footer ul {
  margin-top: 40px;
  list-style-type: none;
}

li {
  color: rgb(77, 77, 77);
  margin-bottom: 20px;
  cursor: pointer;
}

footer .btn {
  width: 150px;
  border-radius: 0;
  border: 2px solid rgb(47, 47, 47);
  color: rgb(77, 77, 77);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 20px;
}

footer p {
  color: rgb(77, 77, 77);
}

.last-section {
  margin-bottom: 60px;
}

@media (max-width: 430px) {
  .account {
    width: 100%;
    margin-left: 10px;
  }
}
