body {
  margin: 0;
  background-color: #141414;
}

header img {
  width: 10%;
}

.custom-row {
  width: 40%;
  margin: 0 auto;
  color: white;
  margin-top: 60px;
}

.custom-row h1 {
  font-size: 4rem;
  font-weight: 300;
  border-bottom: 1px solid rgb(82, 82, 82);
}

/* Stile del bottone */
.btn-filter {
  border: 1px solid white;
  background-color: #141414;
  color: white;
  border-radius: 0;
}

.btn-filter:hover {
  background-color: #333;
  color: white;
}

/* Stile della lista della dropdown */
.dropdown-menu {
  background-color: #141414;
  border: 1px solid white;
  color: white;
  border-radius: 0;
}

.dropdown-item {
  color: white;
}

.row h3 {
  padding: 10px;
  margin-bottom: 20px;
  width: 90%;
  background-color: gray;
}

.language {
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(82, 82, 82);
}

.maturity button {
  width: 70px;
  text-align: center;
  border-radius: 0;
  border: 2px solid rgb(47, 47, 47);
  color: rgb(77, 77, 77);
  padding: 10px 15px;
  text-decoration: none;
  margin-bottom: 20px;
}

.maturity h4 {
  margin-top: 30px;
  font-weight: 300;
}

.par-maturity {
  background-color: rgb(71, 71, 71);
  width: 40%;
}

.maturity {
  border-bottom: 1px solid rgb(82, 82, 82);
}

footer {
  margin-top: 60px;
}

footer ul {
  margin-top: 40px;
  list-style-type: none;
}

li {
  color: rgb(77, 77, 77);
  margin-bottom: 20px;
  cursor: pointer;
}

footer .btn {
  width: 150px;
  border-radius: 0;
  border: 2px solid rgb(47, 47, 47);
  color: rgb(77, 77, 77);
  padding: 10px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 20px;
}

footer p {
  color: rgb(77, 77, 77);
}
