html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #141414;
}

.custom-navbar {
  background-color: #141414;
}

svg {
  cursor: pointer;
}

/* Stile del bottone */
.btn-filter {
  border: 1px solid white;
  background-color: #141414;
  color: white;
  border-radius: 0;
}

.btn-filter:hover {
  background-color: #333;
  color: white;
}

/* Stile della lista della dropdown */
.dropdown-menu {
  background-color: #141414;
  border: 1px solid white;
  color: white;
  border-radius: 0;
}

.dropdown-item {
  color: white;
}

.botton-list svg {
  width: 55px;
  border: 1px solid white;
  padding: 15px 20px;
}

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

nav a {
  text-decoration: none;
}

svg {
  color: rgb(77, 77, 77);
}

footer {
  margin-top: 60px;
}

footer ul {
  margin-top: 40px;
  list-style-type: none;
}

li {
  color: rgb(77, 77, 77);
  margin-bottom: 20px;
}

footer .btn {
  width: 150px;
  border-radius: 0;
  border: 2px solid rgb(47, 47, 47);
  color: rgb(47, 47, 47); /* Colore del testo */
  padding: 10px; /* Padding per migliorare la dimensione del bottone */
  text-align: center; /* Centra il testo */
  text-decoration: none; /* Rimuove eventuali sottolineature */
  margin-bottom: 20px;
}

.utente-img {
  cursor: pointer;
}
